#content
{
    padding-top: 100px;
    margin: auto;
    width: 1280px;
}

#logo
{
    width:100%;
    height:100%;
}

.title
{
    font-family: helvetica,arial,sans-serif;
    font-weight: bold;
}
.container
{
    margin: 10% auto auto;
    width: 70%;
    height: 70%;
    border: 1px solid gray;
    background-color: #f4f5f9;
    overflow: hidden;
}

#inscription, #connexion
{
    background: #578843;
    background: linear-gradient(#67ae55, #578843);
    color: white;
    cursor: pointer;
    border: 1px solid #3b6e22;
    font-size: 18px;
    font-family: helvetica,arial,sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    padding: 7px 30px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

#inscription:hover, connexion:hover
{
     background: linear-gradient(#578843, #67ae55);
}

#name, #firstName, #password
{
    font-size: 15px;
    border: 1px solid #bdc7d8;
    padding: 7px 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#email, #email2
{
    display:block;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
    font-size: 15px;
    margin-top: 5px;
    padding: 7px 8px;
    width: 89%;
}

#birthDate
{
    font-size: 15px;
    padding: 7px 8px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
    margin: 0 0 10px 0;
}

#password, #birthDate
{
    display: block;
    margin-top: 5px;
}

#birthdayDate, label
{
    font-size: 18px;
    font-family: helvetica,arial,sans-serif;
    margin-top: 5px;

}

#birthdayDate
{
    margin-bottom: 0;
}


.contentLeft img
{
    height: auto;
    margin-top: 100px;
    width: 100%;
}


.contentRight
{
    float: right;
    height: 100%;
    margin: 30px 30px 30px 0;
    width: 40%;
}

.contentLeft
{
    float: left;
    height: 423px;
    margin: 30px 0 0 30px;
    width: 40%;
}

#interestCenter
{
    height: 60px;
    width: 80%;
    display: block;
    margin-top: 10px;
}




@media screen and (max-width: 680px) {
    .sex
    {
         display: block;
    }
}



@media screen and (max-width: 940px) {
    #name, #firstName, #password, #email, #email2
    {
        width: 100%;
    }

    .contentLeft, .contentRight
    {
        display: block;
    }
}

@media screen and (max-width: 800px) {

    .contentLeft, .contentRight
    {
        width: 100%;
        margin:auto;
        margin: 10px 0 10px 0;
    }

    .container
    {
        margin:auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .contentLeft img
    {
        margin-left: 7%;
        width: 90%;
    }

}


@media screen and (max-width: 500px){

    .contentLeft
    {
        height: 325px;
    }
}

/* Message erreur */
.message{
    text-align: center;
    width: 1280px;
    margin: auto;
}

.pull-right{
    margin-top: -50px;
}

/* alignement tableau content */
h1, th {
  text-align: center;
}

.sui-gridheader .sui-headercell {
  text-align: center;
}

.sui-grid-core {
  font-family: Arial, sans-serif;
}

td.sui-cell{
    text-align: center;
}

#ErreurPassword{
    margin-top: 100px;

    text-align: center;
}